@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}
@using TestUmbraco.Models;

<div class="d-flex justify-content-center">
  @*Umbraco Form*@
  @*@Umbraco.RenderMacro("renderUmbracoForm", new { FormGuid = "a4b348ff-29b4-4c7b-8120-ceb7a0a9e3cd", ExcludeScripts = "0" })*@

  @Model.Value("Form")

</div>

@*<script>
  $(document).ready(function () {
    $(".text").removeClass("text").addClass("form-control");
  })
  
</script>*@